@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');







html, body{
   font-size: 15px;
   line-height: 1.5;
   box-sizing: border-box;
   margin:0;
   overflow-x:hidden;
   top:0;
   left:0;
}

a{
   text-decoration: none;
   color:white;
   font-weight: 500;
}



a:hover{
   color:#ffdf00;
}
ul{
   list-style-type: none;
}

.navbar{
   background:rgb(10, 10, 10);
   padding:3rem 2rem;
   height:0rem;
   min-height: 12vh;
}

.navbar .navbar-brand a{
       padding: 1rem 0;
       display: block;
       text-decoration: none;
}

.navbar-brand{
   font-family:'Courier New', Courier, monospace;
}

.navbar-toggler{
   background:#ffdf00;
   border:none;
   padding:10px 6px;
   outline:none;
}

.navbar-toggler span{
   display:block;
   color:brown;
}

.navbar .navbar-brand a{
   padding:1rem 0;
   display:block;
   text-decoration: none;
}

.navbar-brand{
   font-family:'Poppins', sans-serif;
   font-size: 2.5rem;
   color:#ffdf00;
}

.navbar-toggler{
   background:#ffdf00;
   border:none;
   padding:10px 6px;
   outline:none;
   color:white;
   font-weight: bold;
}

.navbar-toggler span{
   display:block;
   width:22px;
   height:2px;
   border:1px;
   background:white;
   color:white;
}

.navbar-toggler span + span{
   margin-top:4px;
   width:18px;
   margin-left:4px;
}

.navbar-toggler span + span + span{
      width:10px;
      margin-left:10px;
}

.navbar-expand-lg .navbar-nav .nav-link{
   padding: 2rem 1.2rem;
   font-size:1.4rem;
   position:relative;
   background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
   border-top:4px solid #ffdf00;
   background-color: grey;
}

.navbar-expand-lg .navbar-nav .nav-link:active{
   border-top:4px solid #ffdf00;
   color:#ffdf00;
}

.navbar-nav .btn{
   background-color:#ffdf00;
   color:white;
   border-radius:0;
   padding:1rem 1.5rem;
   font-size:1.2rem;
   margin-top:10px;
}

.navbar-nav .btn:hover{
   background-color:#746921;
}

.header{
   background:black;
   color:white;
   padding:3rem 2rem;
   height:0rem;
   min-height: 12vh;
}

#home{
   background-image: url("../img/bg2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 450px;
   display: block;
}

#home h1{
   display:flex;
   color:#fff;
   font-family:'Open Sans', sans-serif;
   justify-content: center;
   align-items: center;
   height: 40vh;
   font-size: 40px;
   font-weight: 500;
}

#home p{
   display:flex;
   color:#fff;
   font-family: 'Merriweather', serif;
   justify-content: center;
   align-items: center;
   height: 20vh;
   font-size: 20px;
}

.btn-start{
   color:white;
   left:30%;
       width:20%;
       height:40px;
       position: absolute;
       z-index: 2;
   padding: 10px 30px;
border-radius: 10px;
background: #f857a6;
border: 2px solid #F4D419;
        background-color: transparent;
box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
display:block;
}
.btn-start:hover{
background: #f857a6;
background: -webkit-linear-gradient(to left,#f9d976,#F4D419);
background: linear-gradient(to left,#f9d976,#F4D419);
box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
color:black;

}



.btn-donate{
       color:white;
       left:35% !important;
       width:30% !important;
       height:40px;
       position: absolute;
       padding: 10px 30px;
       border-radius: 10px;
       background: #f857a6;
       border: 2px solid #F4D419;
       background-color: transparent;
       box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
       overflow: hidden;
}

.btn-donate:hover{
   background: #f857a6;
   background: -webkit-linear-gradient(to left,#f9d976,#F4D419);
   background: linear-gradient(to left,#f9d976,#F4D419);
   box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
   color:black;
   border:2px solid #ffdf00;
   width:30%;
   }


   

    .about-in{
      width: 50%;
      float: left;
      padding: 20px;
    }

   #cooler{
      color:#ffdf00;
      font-weight: 800;
   }

   .about-in p{
      font-family:'Poppins', sans-serif;
   }

   .btn-know{
      background: black;
      color:#fff;
      width:200px !important;
       height:40px !important;
       font-size:15px !important;
       box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
       border-radius: 5px;
   }
   #space{
      height:60px;
      background:white;
   }

   .main{
      padding-top: 40px;
      background:rgb(192, 189, 189);
   }

   .container p{
      font-family:'Poppins', sans-serif;
   }

   .container h3{
      font-family: 'Merriweather', serif;
      font-weight: bold;
   }

   .donate{
      padding-top:50px;
      padding-bottom: 70px;
   }
   .donate-in img{
      height:35% !important;
      width: 28% !important;
      float: left;
      padding: 20px;
      padding-right: 90px !important;
   }

   .donate-out p{
      font-family:'Poppins', sans-serif;
   }
   .donate-out h2{
      font-weight: bold;
      font-family:'Open Sans', sans-serif;
   }

   #cooler2{
      color:#ffdf00;
      font-weight: bold;
   }

   .btn-donate-again{
      background: black;
      color:#fff;
      width:200px;
       height:40px;
       box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
       border-radius: 5px;
   }
   .btn-donate-again:hover{
      background:white;
      color:black;
   }

.main2{
   background: #ffdf00;
   padding-top: 50px;
   display:block;
   padding-left: 30%;
   padding-bottom: 20px;
}
.main2 h1{
   color:black;
   font-family:'Open Sans', sans-serif;
   font-weight: bold;
   padding-right: 25px;
}

.main2 p{
    color:black;
    font-family: 'Open Sans', sans-serif;
    padding-left:25px;
}

.btn-main2{
   background:black;
      color:white;
      width:250px;
       height:40px;
       box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
       border-radius: 5px;
}
.btn-main2:hover{
   background:white;
      color:black;
}


.footer{
   background:#fff;
   padding:30px 0px;
   font-family: 'Play', sans-serif;
   text-align:center;
   }
   
   .footer .row{
   width:100%;
   margin:1% 0%;
   padding:0.6% 0%;
   color:black;
   font-size:0.8em;
   }
   
   .footer .row a{
   text-decoration:none;
   color:black;
   transition:0.5s;
   }
   
   .footer .row a:hover{
   color:#ffdf00;
   font-size: 20px;
   }
   
   .footer .row ul{
   width:100%;
   }
   
   .footer .row ul li{
   display:inline-block;
   margin:0px 30px;
   }
   
   .footer .row a i{
   font-size:2em;
   margin:0% 1%;
   }
   
   @media (max-width:720px){
   .footer{
   text-align:left;
   padding:5%;
   }
   .footer .row ul li{
   display:block;
   margin:10px 0px;
   text-align:left;
   }
   .footer .row a i{
   margin:0% 3%;
   }
   }

   
   @media only screen and (min-width: 300px) {
      .btn-donate{
         font-size: 15px;
         padding-left: 20px;
         left:40%;
         width:90px;
      }
   
      #home h1{
         align-items: center;
         height: 48vh;
         font-size: 40px;
         font-weight: 500;
      }
   
      .about-in{
         width: 40%;
         float: left;
         padding: 5px;
       }
       .btn-know{
          font-size: 10px;
         width:90px;
          height:20px;
          overflow: hidden;
      }
   
      .container h3{
         font-size: 20px;
      }
      .donate-in img{
         height:80px;
         width: 100px;
         float:left;
         padding: 5px;
         padding-right: 15px;
      }
    }
   

   